<h2>WELCOME!</h2>

<% if admin_user_signed_in? %>
  <%= button_to "Log out", destroy_user_session_path, { onclick: "return confirm('Are you sure you want to log_out?')", method: :delete, class: "btn btn-secondary"} %>
<% else %>
  <%= link_to "Login", new_user_session_path,class: "btn btn-secondary" %>

<% end %>